div#home {
    position: relative;
    top: 50px;
    width: 1200px;
    margin: auto;
}

div#home > div#popular-div {
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}

div#home > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

div#home > div#event-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* EVENT WIDGET */

div.event-widget {
    width: 280px;
    height: auto;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-bottom: 20px;
}

div.event-widget > a > img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.event-widget > div {
    padding-left: 16px;
    line-height: 15px;
}

p.event-name {
    font-weight: 600;
    font-size: 20px;
}

p.event-date {
    color: #f05537;
    font-weight: 600;
    font-size: 15px;
}

p.event-location, p.event-price {
    color: #6f7287;
    font-weight: 300;
    font-size: 15px;
}

/* #6f7287 */
