/* TODO Add site wide styles */
* {
    /* 300, 400, 500, 600 */
    font-family: proxima-nova, sans-serif;
    color: #262626;
}

ul {
    list-style-type: none;
}

ul > li {
    margin-left: -40px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}
