div#create-event {
    position: relative;
    top: 50px;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

div#create-event > form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
}

div#create-event > form > p, div#create-event > form > p > i {
    color: rgb(255, 81, 0);
    font-size: 20px;
}

div#create-event > form > input, div#create-event > form > textarea {
    height: 40px;
    border: solid 1px #dbdbdb;
    transition: border .5s;
    margin-bottom: 15px;
}

div#create-event > form > input:hover, div#create-event > form > textarea:hover {
    border: 1px solid #888888;
}

div#create-event > form > label {
    font-weight: 300;
    font-size: 15px;
    text-align: left;
}

div#create-event > form > button {
    background-color: rgba(255, 68, 0, 0.637);
    color: white;
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    transition: background-color .5s;
}

div#create-event > form > button:hover {
    background-color: orangered;
}

div.ticket-info {
    display: flex;
}

div.ticket-info > input {
    background-color: #dbdbdb5d;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 30px;
    margin: 2px;
}

div.ticket-info > button {
    background-color: transparent;
    border: none;
}

div.ticket-added {
    display: flex;
    background-color: rgba(0, 162, 255, 0.109);
    border-radius: 10px;
}

div.ticket-added > input {
    background-color: transparent;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 30px;
    margin: 2px;
    width: 30%;
}

div.ticket-added > button {
    background-color: transparent;
    border: none;
}
